* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding-top: 3em ;
  }

  .random-text{
    display: flex;
    gap: 2.5em;
    width: 90%;
    margin: auto;
    
  }

  header{
    justify-content: space-between;
    display: flex;
  }

  .header_logo{
    display: flex !important;
    align-items: center;
    gap: 5px;
  }

  .bar{
    display: flex;
    align-items:center ;
    gap: 20px;
  }
  .display{
    display: flex;
    flex-direction: column-reverse;
  }

  .white:hover {
background-color: #fff;
padding: 10px;
  }

  .red:hover{
    background-color: red;
    padding: 10px;
  }
  
  .calculator {
    width: 350px;
    background-color: #ddd;
    box-shadow: 0 4px 8px #333;
    padding-top: 10px;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
  }
  
  #smallscreen{
    
    font-size: 2em;
  }

  #bigscreen{
    font-size: 4em;
    font: bold;
  }

  input{
    border: none;
    text-align: right;
  }

  input:focus{
    outline: none;
  }
  
  #screen {
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    border: none;
    background-color:#fff;
    color: #fff;
    text-align: right;
    border-radius: 5px;
    outline: none;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 0 15px;
  }
  
  button {
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  button:active {
    background-color: #ccc;
  }
  

  